.login-img-logo{
    width: 20%;
}
.login-img-div{
    padding: 12%;
}
.login-card-div{
    width: max-content;
    margin: auto;
}

@media only screen and (min-width: 600px) {
    .login-img-logo{
        width: 12%;
    }
    .login-img-div{
        padding: 4%;
    }
    
  }